<div class="container">
  <h1 id="title">ようこそ</h1>
  <p id="genre"></p>
  <p id="difficulty"></p><hr>
  <p id="question">以下のボタンをクリック</p><hr>
  <input type="button" id="start-button" value="開始">
</div>
<div id="answers"></div>
<script src="/quiz/bundle"></script>