<div class="container">
  <form action="/quiz/setData" method="get">
    <h1 id="title">ようこそ</h1>
    <p id="genre"></p>
    <p id="difficulty"></p><hr>
    <p id="question">以下のボタンをクリック</p><hr>
    <input type="submit" id="start-button" value="開始">
  </form>
</div>
<div id="answers"></div>

<script>
  const titleElement = document.getElementById('title');
  const questionElement = document.getElementById('question');
  const startButton = document.getElementById('start-button');

  startButton.addEventListener('click', () => {
    startButton.hidden = true;
    fetchQuizData(1);
  });

  // 開始ボタンを押すとクイズ画面に移ります。
  const fetchQuizData = async () => {
    titleElement.textContent = '取得中';
    questionElement.textContent = '少々お待ち下さい';
    
    try {
      await fetch('/quiz/setData');

    } catch {
      titleElement.textContent = '取得失敗'
      questionElement.textContent = 'クイズデータの読み込みに失敗しました'
      setTimeout(() => {
        location.reload();
      }, 2000);
    }
  };
</script>